<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Joyas</h1>
    <p class="lead">Accesorios para todos los días</p>
    <hr class="my-4">
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/jewelry-on-a-white.jpg" alt="variedad de joyas">
          <div class="card-body">
            <h5 class="card-title">Joyas</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="http://www10.ventaprecio.me/60118-1-large_default/Sedoso-verde-blanco-overlay-enlace-pulsera-de-cadena-de-7-5-pulgadas-env%C3%ADo-gratis.jpg" alt="pulsera">
          <div class="card-body">
            <h5 class="card-title">Pulseras</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/decor-2483174__480.png" alt="prendedor" height="260">
          <div class="card-body">
            <h5 class="card-title">Prendedores</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      </div>
</div>


<div class="container"> <router-outlet></router-outlet></div>

